.git
.gitignore

*Dockerfile*
*docker-compose*.yml
.docker*

.idea
.vscode
*.swp
*.swo

bin/
tmp/

vendor/

*_test.go
*.test

*.out

.env
.env.*

README.md
docs/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db